<%= content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload" />
<% end %>

<section class="space-y-8">
  <h1 class="text-3xl font-extrabold">
    Posts
  </h1>

  <div class="relative z-0 inline-flex shadow-sm rounded-md" hx-include="#live_status" hx-target="#tbody">
    <%= link_to 'Live', live_posts_path, remote: true, method: :put, 'hx-put': live_posts_path, class: 'relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100' %>
    <%= link_to 'Draft', draft_posts_path, remote: true, method: :put, 'hx-put': draft_posts_path, class: '-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100' %>
  </div>

  <form class="flex flex-col" id="live_status">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="px-6 py-3 bg-gray-50"></th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Body
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Status
                </th>
                <th class="px-6 py-3 bg-gray-50"></th>
                <th class="px-6 py-3 bg-gray-50"></th>
              </tr>
            </thead>
            <tbody id="tbody" class="divide-y divide-gray-100">
              <%= render @posts %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>

  <span class="inline-flex rounded-md shadow-sm">
    <%= link_to new_post_path, class: 'inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150' do %>
      New Post
      <svg class="w-5 h-5 ml-3 -mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
    <% end %>
  </span>
</section>
