<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div hx-include="#live_status" hx-target="#tbody">
  <%= link_to 'Live', live_posts_path, remote: true, method: :put, 'hx-put': live_posts_path %>
  <%= link_to 'Draft', draft_posts_path, remote: true, method: :put, 'hx-put': draft_posts_path %>
</div>

<form id="live_status">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Live?</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody id="tbody">
      <%= render @posts %>
    </tbody>
  </table>
</form>

<br>

<%= link_to 'New Post', new_post_path %>
